header {
    display: flex;
    height: 120px;
    width: 1200px;
    background-color: #6490f5;
    padding: 10px;
}



/* Estilo para la imagen de perfil */
.profile-picture img {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Esto crea una forma circular */
    margin-right: 10px;
}

/* Estilos para la informaci칩n del perfil */
.profile-info {
    text-align: left;
}

.profile-info h1 {
    font-size: 18px;
    margin: 0;
}

.profile-info p {
    font-size: 14px;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Colocar elementos en columna */
    min-height: 100vh;
}

/* Estilo para el elemento Main */
main {
    flex: 3; /* Toma el 75% del ancho */
    background-color: #567bd1; /* Color de fondo para demostraci칩n */
    padding: 20px;
    height: 400px;
}

/* Estilo para el elemento Aside */
aside {
    flex: 1; /* Toma el 25% del ancho */
    background-color: #4563a8; /* Color de fondo para demostraci칩n */
    padding: 20px;
    height: 400px;
}
.content {
    display: flex;
}
.footer-left, .footer-right {
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px; /* Ajusta el tama침o de fuente para que quepa en los footers */
    
}

.footer-left {
    background-color: #8fbcf0;
}

.footer-right {
    background-color: #6f91ec;
}